build/
windows/
linux/
ios/
.dart_tool/
build/977f417067aa71cae16d6835c8e4ba82.cache.dill.track.dill
build/windows/runner/Debug/tiktok_clone.exe
build/windows/runner/Debug/tiktok_clone.pdb
build/windows/runner/Debug/data/flutter_assets/kernel_blob.bin
build/windows/runner/tiktok_clone.dir/Debug/flutter_window.obj
build/windows/runner/tiktok_clone.dir/Debug/generated_plugin_registrant.obj
build/windows/runner/tiktok_clone.dir/Debug/tiktok_clone.ilk
build/windows/runner/tiktok_clone.dir/Debug/vc143.pdb
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/.filecache
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/app.dill
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/kernel_snapshot.d
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/kernel_snapshot.stamp
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/.filecache
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/app.dill
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/kernel_snapshot.d
.dart_tool/flutter_build/af65dda03ce440fa82a3683db20bf12b/kernel_snapshot.stamp
build/977f417067aa71cae16d6835c8e4ba82.cache.dill.track.dill
build/windows/runner/Debug/tiktok_clone.exe
build/windows/runner/Debug/tiktok_clone.pdb
build/windows/runner/Debug/data/flutter_assets/kernel_blob.bin
build/windows/runner/tiktok_clone.dir/Debug/flutter_window.obj
build/windows/runner/tiktok_clone.dir/Debug/generated_plugin_registrant.obj
build/windows/runner/tiktok_clone.dir/Debug/tiktok_clone.ilk
build/windows/runner/tiktok_clone.dir/Debug/vc143.pdb
